@use "../../../styles/variables/color" as color;

select {
  background-color: transparent;
  border: transparent;
  border-radius: 0.5rem;
  appearance: none;
  width: max-content;
  height: max-content;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
