@use "../../../styles/variables/color" as color;

select {
  background-color: transparent;
  border: 1px solid color.$gray200;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  color: white;
  appearance: none;
}
