@use "../../../styles/variables" as *;

.hover-menu__wrapper {
  padding: 0.3em 0.7em;
  width: max-content;
  background-color: $blue;
  border-radius: 0.5rem;
  position: absolute;
  left: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    left: -0.2rem;
    top: 0.6rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: $blue;
    transform: rotate(45deg);
  }

  .hover-menu__text {
    font-size: 0.8rem;
  }
}
