@use "../../styles/variables/breakpoint" as breakpoint;
@use "../../styles/variables/color" as color;

.modal__wrapper {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: color.$gray800;
}
