@use "../../styles/variables" as *;

header {
  background-color: $gray800;
  padding: 0 2em;

  @include mobile {
    height: 20svh;
    width: 100%;
  }

  @include laptop {
    height: 100svh;
    width: 20%;
    max-width: 10rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 3em;

    @include mobile {
      flex-direction: row;
    }

    @include laptop {
      flex-direction: column;
    }

    ul {
      @include mobile {
        flex-direction: row;
      }

      @include laptop {
        flex-direction: column;
      }

      display: flex;
      align-items: center;
      gap: 2em;

      .menu__link {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: background-color 0.2s ease-in-out;
        background-color: transparent;
        border-radius: 0.5rem;

        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.5rem;
          position: relative;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: $gray400;
          }
        }

        .hover-menu__wrapper {
          display: none;

          &.open {
            background-color: $blue;
            position: absolute;
            width: max-content;
            border-radius: 0.5rem;
            display: flex;
            left: 120%;
            padding: 10%;
            justify-content: center;
            align-items: center;

            &::before {
              content: "";
              width: 0.5rem;
              height: 0.5rem;
              position: absolute;
              left: -0.2rem;
              transform: rotate(45deg);
              background-color: $blue;
            }

            span {
              color: $white;
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}
