// Basic
$black: #000;
$white: #fff;

// Accent
$blue: #535aff;
$green: #49dd9f;
$red: #ef655f;
$yellow: #f9bc15;
$darkblue: #462cc6;
$lightblue: $e7e8ff;

// Gray
$gray800: #090a1a;
$gray700: #212230;
$gray600: #14173c;
$gray500: #292a33;
$gray400: #51525f;
$gray300: #667085;
$gray200: #b0b3b9;
$gray100: #c9c9c9;
$gray50: #ededed;
$gray30: #f6f6f6;
$gray20: #f9f9f9;
